.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.card {
  width: 100%;
  max-width: 600px;
  margin: 10px;
  padding: 15px;
  border: 3px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 400px; /* Define a altura máxima e ativa a rolagem se necessário */
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-body {
  flex-direction: column;
  align-items: flex-start;
}

.card-text {
  margin-bottom: 10px;
}

.lotes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lote-item {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
