.dashboard-container {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fc97a7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: white;
border-radius: 30px;
padding: 30px;
}

.dashboard-button {
  background-color: #ca3b53;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.dashboard-button:hover {
  background-color: #ee4a66;
}

.logout-container {
  margin-top: 30px;
}

.logout-button {
  background-color: #0f8000;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #15b301;
}
