.App {
  text-align: center;
}

.Titulo {
  font-size: 24px;
  font-weight: bold;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.imagem {
  height: 50px;
  width: 150px;
}

form {
  margin-top: 20px;
}

.select-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  width: 15%;
}

label {
  color: black;
  font-style: oblique;
  padding-top: 20px;
  padding-bottom: 20px;
}

.etiqueta, .etiqueta-impressa {
  display: flex;
  flex-direction: row; /* Alinhamento em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: space-between; /* Mantém o espaço entre os elementos */
  width: 9cm; /* Largura da etiqueta */
  height: 5cm; /* Altura da etiqueta */
  page-break-after: always; /* Garante que cada etiqueta esteja em uma página separada */
  text-align: center;
  margin: auto; /* Centraliza horizontalmente */
}

.etiqueta div {
  text-align: center; 
  align-items: center;
  justify-content: center;
}

.etiqueta p {
  margin: 10px;
  font-size: 15px;
}

.qrCode {
  width: 100px; /* Define um tamanho fixo para o QR code */
  height: 100px; /* Define um tamanho fixo para o QR code */
}

.etiquetas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Configurações para impressão */
@media print {
  body * {
    margin: 0;
    padding: 0;
    visibility: hidden;
    height: auto;
  }

  form, .App-header, .select-div, .etiqueta {
    display: none;
  }

  .etiquetas-container, .etiquetas-container * {
      visibility: visible;
      padding: 0;
      margin: 0;    
  }

  .card, br {
    display: none;
  }

  .etiqueta-impressa {
    flex-direction: row;
    justify-content: space-between;
    page-break-inside: avoid; /* Evita quebras dentro de uma etiqueta */
    text-align: left;
    margin-left: 15px;
  }

  .qrCode {
    margin-right: 15px;
  }

  @page {
    size: 9cm 5cm; /* Define o tamanho da página para corresponder à etiqueta */
    margin: 0;
  }
}
