.App {
  text-align: center;
}

.Titulo {
  font-size: 24px;
  font-weight: bold;
}

.card-modificado {
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  margin: 10px;
  padding: 15px;
  border: 3px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 400px; 
}

.card-resumo {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 15px;
  border: 3px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 400px; 
}


form {
  margin-top: 20px;
}

.select-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem {
  width: 100%; /* Ajusta a imagem para ocupar 100% da largura disponível */
  max-width: 8cm; /* Limita o tamanho máximo da imagem para 8 cm */
  height: auto; /* Mantém a proporção original da imagem */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
  display: block;
}

.sizeButton {
  width: 100%;
  margin: 5px;
}


input {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  width: 15%;
}

label {
  color: black;
  font-style: oblique;
  padding-top: 20px;
  padding-bottom: 20px;
}

.etiqueta, .etiqueta-impressa {
  display: flex;
  flex-direction: row; /* Alinhamento em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: space-between; /* Mantém o espaço entre os elementos */
  width: 9cm; /* Largura da etiqueta */
  height: 5cm; /* Altura da etiqueta */
  page-break-after: avoid; /* Garante que cada etiqueta esteja em uma página separada */
  text-align: center;
  margin: auto; /* Centraliza horizontalmente */
}

.etiqueta div {
  text-align: center; 
  align-items: center;
  justify-content: center;
}

.etiqueta p {
  margin: 10px;
  font-size: 15px;
}

.qrCode {
  width: 100px; /* Define um tamanho fixo para o QR code */
  height: 100px; /* Define um tamanho fixo para o QR code */
}

.etiquetas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
