.App {
  text-align: center;
  background-color: #fc97a7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ee5e76;
  width: 100%;
  height: 100px;
}

.iconHeader {
  cursor: pointer;
}

.headerTextContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

.headerSpan {
  color: white;
  font-size: 30px;
  margin-left: -30px;
}

form {
  margin-top: 20px;
}

.card {
display: flex;
justify-content: center;
align-items: center;
width: 400px;
}

.select-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 30%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

label {
  color: black;
  font-style: oblique;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  background-color: #ee5e76;
  color: white;
  padding: 15px 12px;
  border-width: 0;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

span {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.spanLote {
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 20px;
}

.fracionada-container {
  background-color: #ccccccd2;
  padding: 10px;
  width: 75%;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeButton {
margin-left: 25px;
cursor: pointer;
}

.inputDate {
  width: 100%;
}

.etiqueta, .etiqueta-impressa {
  display: flex;
  flex-direction: column; /* Alinhamento em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: space-between; /* Mantém o espaço entre os elementos */
  width: 9cm; /* Largura da etiqueta */
  height: 5cm; /* Altura da etiqueta */
  page-break-after: always; /* Garante que cada etiqueta esteja em uma página separada */
  text-align: center;
}

.etiqueta div {
  flex: 1;
  text-align: center; 
  align-items: center;
  justify-content: center;
}

.etiqueta p {
  margin: 10px;
  font-size: 15px;
}

.qrCode {
  width: 100px; /* Define um tamanho fixo para o QR code */
  height: 100px; /* Define um tamanho fixo para o QR code */
}

.etiquetas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Configurações para impressão */
@media print {
  body * {
    margin: 0;
    padding: 0;
    visibility: hidden;
    height: auto;
  }

  form, .App-header, .select-div, .etiqueta {
    display: none;
  }

  .etiquetas-container, .etiquetas-container * {
      visibility: visible;
      padding: 0;
      margin: 0;    
  }

  .card {
    display: none;
  }
  .etiqueta-impressa {
    flex-direction: row;
    justify-content: space-between;
    page-break-inside: avoid; /* Evita quebras dentro de uma etiqueta */
    text-align: left;
    font-weight: bold;
    margin-left: 15px;
  }
  .etiqueta-impressa p {
  font-size: 15px;
  }

  .qrCode {
    margin-right: 15px;
  }

  @page {
    size: 9cm 5cm; /* Define o tamanho da página para corresponder à etiqueta */
    margin: 0;
  }
}
