.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgb(167, 167, 236);
  width: 100%;
  height: 100px;
}

.iconHeader {
  cursor: pointer;
}

.headerTextContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

.headerSpan {
  color: white;
  font-size: 30px;
  margin-left: -30px;
}

form {
  margin-top: 20px;
}

.card-modificado {
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  margin: 10px;
  padding: 15px;
  border: 3px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 400px; 
}

.card-resumo {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 15px;
  border: 3px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 400px; 
}

.select-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  width: 250px;
}

input {
  width: 250px;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

label {
  color: black;
  font-style: oblique;
  padding-top: 20px;
  padding-bottom: 20px;
}


.row {
  justify-content: center;
  --bs-gutter-x: 0rem;
  }

.sizeButton {
  width: 100%;
  margin: 5px;
}

span {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.spanLote {
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 20px;
}

.fracionada-container {
  background-color: #ccccccd2;
  padding: 10px;
  width: 75%;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeButton {
margin-left: 25px;
cursor: pointer;
}

.inputDate {
  width: 100%;
}

.etiqueta-impressa {
  display: flex;
  flex-direction: row; /* Alinha os elementos em uma linha */
  align-items: center; /* Centraliza verticalmente */
  justify-content: space-between; /* Garante que o conteúdo fique distribuído */
  width: 9cm; /* Largura da etiqueta */
  height: 5cm; /* Altura da etiqueta */
  page-break-inside: avoid;
  text-align: left;
  font-weight: bold;
}

.etiqueta-impressa div {
  flex: 1;
  text-align: left;
}

.etiqueta-impressa p {
  font-size: 14px;
  font-weight: bold;
  margin: 0; /* Remove margem para evitar deslocamento do texto */
}

.qrCode {
  width: 100px; /* Define um tamanho fixo para o QR code */
  height: 100px; /* Define um tamanho fixo para o QR code */
  margin-left: 10px; /* Adiciona um espaço entre o QR code e o texto */
}

.etiquetas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
