/* styles/Login.css */

.loginBody {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: rgb(2,0,36);
    background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(124,124,124,1) 45%, rgba(246,246,246,1) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .login-header h1 {
    margin: 0 0 2rem;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #5441f8;
  }
  
  .login-button {
    background-color: #5441f8;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    transition: transform 0.3s ease, background 0.3s ease;
  }
  
  .login-button:hover {
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho */
    background-color: #1900fd;
    color: white;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1.5rem;
  }
  